body {
  font-family: "GE-Inspira.ttf",
  sans-serif;
  padding-top: 50px;
}
.starter-template {
  font-family: "GE-Inspira.ttf",
  sans-serif;
  padding: 40px 15px;
  text-align: center;
}
body {}
head {}
