<!DOCTYPE html>
<html lang="en">
    <head>
              <meta charset="utf-8">
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <meta name="description" content="GE-Digital InternalDashboard">
              <meta name="author" content="Vijay Singh Gosai">
              <link rel="stylesheet" href="{{ url_for ('static', filename='css/bootstrap.min.css') }}">
              <script src="{{ url_for ('static', filename='js/jquery.min.js') }}"></script>
              <script src="{{ url_for ('static', filename='js/bootstrap.min.js') }}"></script>
              <link rel="icon" href="{{ url_for ('static', filename='images/geicon.ico') }}">
              <title>Autoproxy Frontend Tool</title>
      </head>
  <body>
  </body>
</html>
